extends ../layouts/common.pug
block content
    h1 Create User 

    form(action="/users/create", method="POST")
        .mb-3
            lable.form-label Name 
            input.form-control(type="text", name="name")
        .mb-3
            lable.form-label Phone 
            input.form-control(type="text", name="phone")
        .mb-3
            lable.form-label Email 
            input.form-control(type="text", name="email")
        .mb-3
            lable.form-label Password 
            input.form-control(type="password", name="password")

        button.btn.btn-primary Create 