
extends ../layouts/common.pug
block content
    h3 Products

    h5
        a(href='/products/create', class="btn btn-success") Create 

    form(action="/products/search") 
        .input-group
            input(type='text',name='n',class="form-control")
            button(class="btn btn-info") Search

    .row 
        each product  in products
            .col-md-3
                .card(style="")
                    a(href="/products/view/"+product.id)
                        img(src= product.image, class="card-img-top", alt="...")
                    .card-body
                        h5.card-title= product.name
                        p.card-text= product.description
                        a(href="/cart/add/"+product.id, class="btn btn-primary") Add to cart
    div(class="pt-2")
        nav(aria-label='Page navigation example')
            ul.pagination.justify-content-center
                li.page-item.disabled
                    a.page-link Previous
                li.page-item
                    a.page-link(href='#') 1
                li.page-item
                    a.page-link(href='#') 2
                li.page-item
                    a.page-link(href='#') 3
                li.page-item
                    a.page-link(href='#') Next
        

